<div id="center" class="main center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img class="details-img" [src]=movie?.poster_path />
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>{{ movie?.title }}</h2>
                <h3>{{ movie?.tagline }}</h3>
                <p class="meta-wrap">
                <span class="rating">rating: {{ movie?.vote_average }}</span>
                <span class="meta">{{ movie?.language }} / {{ movie?.runtime }} min. / {{ movie?.release_date }}</span>
                </p>

                <ul class="genres">
                    <li *ngFor="let genre of movie?.genres">{{ genre.name }}</li>
                </ul>

            </div>
        </div>
    </div>
</div>